@charset "UTF-8";
body {
  /* Ubicación de la imagen */
  background-image: url("../multimedia/CbaNocturna.jpg");
  /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
  background-position: center center;
  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
  background-color: #120f35; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

h1 {
  font-family: Roboto Condensed;
  color: white;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 4pc;
  text-shadow: 4px 4px 4px black; }

h2 {
  font-family: Roboto Condensed;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 3pc;
  text-shadow: 3px 3px 3px black; }

h3 {
  font-family: Roboto Condensed;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
  text-shadow: 0.5px 0.5px 0.5px black; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.animacion:hover {
  animation-name: animacionRedes;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in; }

@keyframes animacionRedes {
  2% {
    transform: skew(20deg, 15deg); }
  8% {
    transform: skew(40deg, 30deg); } }

@media only screen and (min-width: 360px) {
  .letra {
    font-family: Roboto Condensed;
    color: white;
    text-align: center;
    font-size: 15px;
    text-shadow: 2px 2px 2px black; }
  .tamaño {
    height: 30px;
    width: 30px; }
  .mapa {
    height: 200px;
    width: 400px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media only screen and (min-width: 1366px) {
  .letra {
    font-family: Patrick hand;
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 2px black; }
  .tamaño {
    height: 60px;
    width: 60px; }
  .mapa {
    height: 200px;
    width: 400px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px; } }

.titulos {
  font-family: Roboto Condensed;
  color: white;
  font-weight: bold;
  margin-top: 99px;
  margin-bottom: 30px;
  font-size: 3pc;
  text-shadow: 4px 4px 4px black; }

.descripcion {
  font-family: Roboto Condensed;
  color: white;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2pc;
  text-shadow: 4px 4px 4px black; }

.fotoServ {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 30%;
  margin-bottom: 90%; }

.fotoTour {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 30%;
  margin-bottom: 90%; }

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px; }

.bigicon {
  font-size: 35px;
  color: #36A0FF; }
