
.fotoServ{
  
    width: 400px;
    height:auto;
    margin-left: 5%;
    margin-top: 5%;    
    margin-bottom: 5%;
    border: solid 4px white;
    
    /* animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s; */
   
    
}

@keyframes efecto{
    0% {border: solid 4px white;}
    3%  {border: solid 10px rgb(216, 216, 214);}
}