.titulos{
    font-family: Roboto Condensed;
    color: white;
    font-weight: bold;
    margin-top: 99px;
    margin-bottom: 30px;
    font-size: 3pc;
    text-shadow: 4px 4px 4px black;
}

.descripcion{
    font-family: Roboto Condensed;
    color: white;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2pc;
    text-shadow: 4px 4px 4px black;

}